/*Estilos generales*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 1;
    font-size: 12px;
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
}

.container {
    display: grid;
    max-width: 100%;
    margin: 0px auto;
    height: 100%;
    background-color: white;
}

.col-3 {
    text-align: center;
    position: inherit;
}

.col-6 {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.col-9 {
    text-align: left;
    padding-left: 10px;
    width: 100%;
}


/*Header*/

#superior {
    background-color: #FF009E;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Navbar*/

#logo {
    height: 50px;
    float: unset;
}

.search {
    height: 100px;
    padding: 20px 10px 20px 10px;
    background-color: #FFE521;
    margin-top: 1px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    color: black;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: white;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: black;
    background-color: #FFE521;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: black;
    background: gainsboro;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: black;
    background: #FFE521;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: gainsboro;
}


/*Contenido*/

.results {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    background-color: beige;
}

.rankingbox {
    width: 31%;
    height: 80%;
    float: left;
    margin: 5px;
    background-color: white;
}

.graph {
    width: 31%;
    height: 80%;
    float: left;
    margin: 5px;
    background-color: white;
}

.table {
    width: 100%;
    margin-bottom: 5px;
}

#cohort {
    width: 95%;
    float: left;
    margin: 5px;
    background-color: white;
}

.footer {
    background-color: #FFE521;
    height: 25px;
    text-align: center;
    padding: 5px;
}


/*Etiquetas*/


/* Arreglo de conflictos de  css con bootstrap*/


/*prueba de menu*/


/*Media Querys*/

@media screen and (max-width: 320px) {}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}